@import "normalizer";
@import "typography";
@import "loading";
@import "colors";
@import "animations";
@import "toastify-js/src/toastify";
@import "table";
@import "metro4/build/metro.css";
@import "metro4/build/icons.css";


body {
    background: var(--main-bg-color)!important;
    color: var(--main-color);

    .dialog {
        color: var(--main-color)!important;
    }

    .input-material .label {
        z-index: 10;
    }
    .input-material input {
        z-index: 11;
    }
    .input-material input:-webkit-autofill, .input-material input:-webkit-autofill:active, .input-material input:-webkit-autofill:focus, .input-material input:-webkit-autofill:hover {
        -webkit-text-fill-color: var(--main-color)!important;
        color: var(--main-color);
    }

    .input-material.with-icon .icon {
        color: var(--main-color);
        opacity: 1;
    }

    .input-material input::-webkit-input-placeholder {
        color: var(--main-color);

    }

    .button.primary, .command-button.primary {
        background-color: var(--main-color);
        color: var(--main-bg-color);
        transition: all 0.3s ease-in-out;
        border-color: var(--main-color)!important;
        &:hover {
            background-color: var(--main-bg-color);
            color: var(--main-color);
        }

    }

    .date-inputs {
        input {
            border-radius: 4px;
            border: 1px solid var(--main-color);
        }
    }

}

.alert {
    &.alert-danger {
        color: var(--error);
        position: absolute;
        left: 30px;
        font-size: .8rem;
        top: 50px;
        background: var(--main-bg-color);
        z-index: 5;
    }
}