.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 5rem;
  z-index: 1000;
  background: wheat;

  span:before {
    color: teal;
  }
}