table {
  border-collapse: collapse;
  table-layout: fixed;
  background: white;

  td, th {
    &:last-child {
     width: 130px;
      text-align: right;
   }
 }

  tr:nth-child(even) {
    background-color: var(--main-color-transperant-02);
  }

  .sortable-column {
    a {
      color: var(--main-color);
      width: 100%;
      display: block;
    }

    &.sort-asc,
    &.sort-desc {
    background-color: white!important;


    }
  }
}

.pagination {
  nav {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    div:first-child {
      display: none;
    }

    div:last-child {
      display: flex;

    }

    a, span {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      color: var(--main-color);


      [aria-current="page"] {
        font-weight: bold;
      }
    }
    svg {
      width: 20px;
    }
  }
}

.dialog *+.dialog-content {
  overflow-x: auto;
}